<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find sophia_robot_description)/urdf/mimic_macro.xacro"/>

    <xacro:macro name="sophia_right_hand_transmission" params="prefix">

        <transmission name="${prefix}right_index_base_trans" type="SimpleTransmission">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}right_index_base_joint">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}right_index_base_actuator">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${prefix}right_index_proximal_trans" type="SimpleTransmission">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}right_index_proximal_joint">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}right_index_proximal_actuator">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${prefix}right_middle_proximal_trans" type="SimpleTransmission">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}right_middle_proximal_joint">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}right_middle_proximal_actuator">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${prefix}right_ring_proximal_trans" type="SimpleTransmission">
		    <type>transmission_interface/SimpleTransmission</type>
		    <joint name="${prefix}right_ring_proximal_joint">
		        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		    </joint>
		    <actuator name="${prefix}right_ring_proximal_actuator">
		        <mechanicalReduction>1</mechanicalReduction>
		    </actuator>
		</transmission>

		<transmission name="${prefix}right_pinky_proximal_trans" type="SimpleTransmission">
		    <type>transmission_interface/SimpleTransmission</type>
		    <joint name="${prefix}right_pinky_proximal_joint">
		        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		    </joint>
		    <actuator name="${prefix}right_pinky_proximal_actuator">
		        <mechanicalReduction>1</mechanicalReduction>
		    </actuator>
		</transmission>

		<transmission name="${prefix}right_thumb_base_trans" type="SimpleTransmission">
		    <type>transmission_interface/SimpleTransmission</type>
		    <joint name="${prefix}right_thumb_base_joint">
		        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		    </joint>
		    <actuator name="${prefix}right_thumb_base_actuator">
		        <mechanicalReduction>1</mechanicalReduction>
		    </actuator>
		</transmission>

		<transmission name="${prefix}right_thumb_proximal_trans" type="SimpleTransmission">
		    <type>transmission_interface/SimpleTransmission</type>
		    <joint name="${prefix}right_thumb_proximal_joint">
		        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		    </joint>
		    <actuator name="${prefix}right_thumb_proximal_actuator">
		        <mechanicalReduction>1</mechanicalReduction>
		    </actuator>
		</transmission>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_index_intermediate_joint_" parent_joint="${prefix}right_index_proximal_joint" mimic_joint="${prefix}right_index_intermediate_joint" has_pid="true" multiplier="0.84"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_index_distal_joint_" parent_joint="${prefix}right_index_proximal_joint" mimic_joint="${prefix}right_index_distal_joint" has_pid="true" multiplier="0.53"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_middle_intermediate_joint_" parent_joint="${prefix}right_middle_proximal_joint" mimic_joint="${prefix}right_middle_intermediate_joint" has_pid="true" multiplier="0.84"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_middle_distal_joint_" parent_joint="${prefix}right_middle_proximal_joint" mimic_joint="${prefix}right_middle_distal_joint" has_pid="true" multiplier="0.53"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_ring_base_joint_" parent_joint="${prefix}right_index_base_joint" mimic_joint="${prefix}right_ring_base_joint" has_pid="true" multiplier="0.8"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_ring_intermediate_joint_" parent_joint="${prefix}right_ring_proximal_joint" mimic_joint="${prefix}right_ring_intermediate_joint" has_pid="true" multiplier="0.84"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_ring_distal_joint_" parent_joint="${prefix}right_ring_proximal_joint" mimic_joint="${prefix}right_ring_distal_joint" has_pid="true" multiplier="0.53"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_pinky_base_joint_" parent_joint="${prefix}right_index_base_joint" mimic_joint="${prefix}right_pinky_base_joint" has_pid="true" multiplier="1.2"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_pinky_intermediate_joint_" parent_joint="${prefix}right_pinky_proximal_joint" mimic_joint="${prefix}right_pinky_intermediate_joint" has_pid="true" multiplier="0.84"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_pinky_distal_joint_" parent_joint="${prefix}right_pinky_proximal_joint" mimic_joint="${prefix}right_pinky_distal_joint" has_pid="true" multiplier="0.53"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_thumb_intermediate_joint_" parent_joint="${prefix}right_thumb_proximal_joint" mimic_joint="${prefix}right_thumb_intermediate_joint" has_pid="true" multiplier="1.0"/>

        <xacro:mimic_joint_plugin_gazebo name_prefix="${prefix}right_thumb_distal_joint_" parent_joint="${prefix}right_thumb_proximal_joint" mimic_joint="${prefix}right_thumb_distal_joint" has_pid="true" multiplier="1.457"/>

    </xacro:macro>

</robot>
